
<?xml encoding="UTF-8"?>
<html>
  <head>
     <title>oraudpage</title>
     <link rel="stylesheet" href="/stilus.css" type="text/css"/>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
  </head>

  <body>

        <%= yield %>
     
     <p><a href=/>vissza a főoldalra</a>
  </body>
</html>
